<launch>


    <!-- what ros bag to play -->
    <arg name="path_bag" />


    <!-- where to save the recorded poses -->
    <arg name="path_save"   default="$(arg path_bag)-gt.txt" />
    <arg name="topic" default="/vicon/firefly_sbx/firefly_sbx" />
    <arg name="topic_type" default="TransformStamped" />
    <arg name="speed_multiplier" default="4" />


    <!-- record the trajectory -->
    <node name="recorder_estimate" pkg="ov_lightglue" type="pose_to_file" output="screen" required="true">
        <param name="topic"      type="str" value="$(arg topic)" />
        <param name="topic_type" type="str" value="$(arg topic_type)" />
        <param name="output"     type="str" value="$(arg path_save)" />
    </node>


    <!-- play the dataset -->
    <node pkg="rosbag" type="play" name="rosbag" args="-r $(arg speed_multiplier) $(arg path_bag)" required="true"/>


</launch>
